<mat-toolbar>
    <mat-toolbar-row>
        Issue Creators
        <button mat-button style="margin-left: auto;" color="primary" routerLink="edit">
            <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
            Add
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngFor="let creator of issueCreatorService.genericIssueCreatorsSubject | async">
    <div class="row">
        <h1>{{ creator.name }}</h1>
        <button mat-button style="margin-left: auto;" color="primary" [routerLink]="'edit/' + creator._id">Edit</button>
    </div>
    <p>{{ creator.description }}</p>
    
</mat-card>