<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">Monitoring</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="showSidebar"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/cpu" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        CPU Utilization
      </a>

      <a
        mat-list-item
        routerLink="/error-response-monitor"
        routerLinkActive="list-item-active"
      >
        <mat-icon>person</mat-icon>
        Error Response
      </a>

      <a
      mat-list-item
      routerLink="/monitoring-selection"
      routerLinkActive="list-item-active"
    >
      <mat-icon>person</mat-icon>
      Monitoring Selection
    </a>

      <a mat-list-item routerLink="/logs" routerLinkActive="list-item-active">
        <mat-icon>book</mat-icon>
        Logs
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
